<div class="sidebar" id="side_nav" style="background: #c5eeeb; min-width: 250px; max-width: 250px; position: relative;">
            <div style="position: fixed;">
                <div class="header-box px-2 pt-3 pb-4">
                    <img src="./logo.png" class="mx-auto d-block pb-3" />
                    <h1 class="fs-4"><span class="text-dark rounded shadow px-2 mx-5 d-block text-center" style="background: #f8c4d9;">Admin</span></h1>
                </div>
    
                <ul class="list-unstyled px-4 py-2">
                    <li class="py-2"><a href="./admin_createAccount.html" class="text-decoration-none"><i class="fa-regular fa-user"></i> Create account</a></li>
                    <li class="py-2"><a href="./admin_createClass.html" class="text-decoration-none"><i class="fa-regular fa-clipboard"></i> Create class</a></li>
                    <li class="py-2"><a href="./admin_manageTeachers.html" class="text-decoration-none"><i class="fa-solid fa-list"></i> Manage teachers</a></li>
                    <li class="py-2"><a href="./admin_manageStudents.html" class="text-decoration-none"><i class="fa-solid fa-list"></i> Manage students</a></li>
                    <li class="py-2"><a href="./admin_manageRules.html" class="text-decoration-none"><i class="fa-regular fa-pen-to-square"></i> Manage rules</a></li>
                </ul>
                <hr style="background: #FEB7D3;" class="mx-2">
                <div class="text-center">
                    <a href="#" class="text-decoration-none "> <i class="fa-solid fa-arrow-right-from-bracket"></i>Sign out</a>
                </div>
            </div>
        </div>