<div class="row">
    <form action="/logout" class="d-flex flex-end" method="post">
      <button
        class="btn btn-outline-success"
        name="option"
        value="logout"
        type="submit"
      >Logout</button>
    </form>
        <h5 class="card-reader mgl-20 color-blue">HOME</h5>
</div>
