<div class="main-container d-flex">
                {{>adsidebar}}


        <div class="content container mt-1" style="min-height: 100vh; width: 100%;">
            <div class="col-md-12 fs-2 p-2 text-white text-center rounded mb-4" style="background: #f8c4d9; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">Manage Students</div>
                {{#if hasError}}
                <div class="col-md-12 p-2 text-center">
                    <h5 class=" text-danger">{{error}}</h5>
                </div>
                {{/if}}
                {{#if hasMess}}
                <div class="col-md-12 p-2 text-center">
                    <h5 class=" text-success">{{mess}}</h5>
                </div>
                {{/if}}  
                <table id="example" class="table table-striped rounded" style="width:100%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>1st Semester</th>
                        <th>2nd Smester</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="id">0001</td>
                        <td>Thái Văn An</td>
                        <td>10.2</td>
                        <td>7.8</td>
                        <td>8.2</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="id">0002</td>
                        <td>Huỳnh Bá Vinh</td>
                        <td>10.4</td>
                        <td>6.4</td>
                        <td>5.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="id">0003</td>
                        <td>Lê Văn Lộc</td>
                        <td>11.2</td>
                        <td>7.2</td>
                        <td>9.8</td>
                    </tr>
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade " id="editScoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ID: </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container d-flex justify-content-around gap-1">
                                <div class="col-6">
                                    <label for="modal_id" class="form-label">ID</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="modal_id"
                                        placeholder="0001"/>
                                </div>
                                <div class="col-6">
                                    <label for="modal_class" class="form-label">Class</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="modal_class"
                                        placeholder="10.3"/>
                                </div>
                            </div>
                            <div class="container d-flex justify-content-around gap-1 my-1">
                                <div class="col-6">
                                    <label for="modal_1stsem" class="form-label">1st Semester</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="modal_1stsem"
                                        placeholder="9.0"/>
                                </div>
                                <div class="col-6">
                                    <label for="modal_2ndsem"class="form-label">2nd Semester</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="modal_2ndsem"
                                        placeholder="10.0"/>
                                </div>
                            </div>
                            <div class="container">
                            <div class="col-12">
                                <label for="modal_name" class="form-label">Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="modal_name"
                                    placeholder="Lê Thành Nam"/>
                            </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn" style="background: #f8c4d9; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">Save changes</button>
                            <button type="button" class="btn" style="background: #f8c4d9; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable(); 
            // when table-row is clicked
            $("#example tbody tr").click(function () {
                
                var item = $(this).closest("tr")  
                       .find(".id")    
                       .text();
                
                $(".modal-title").text("ID: " + item);
                     
                $("#editScoreModal").modal("show");
            });
        });
    </script>