{{#if showNav}}
<form action="/logout" class="d-flex flex-end" method="post">
      <button
        class="btn btn-outline-success"
        name="option"
        value="logout"
        type="submit"
      >Logout</button>
</form>
{{/if}}
