{{#if showSide}}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <a href="/addacc" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><span>Tao tai khoan</span> </a>
                    <a href="/addclass" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><span>Tao lop</span> </a>
                    <a href="/students" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><span>Quan li hoc sinh</span> </a>
                    <a href="/teachers" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><span>Quan li giao vien</span> </a>
                    <a href="/rules" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><span>Thay doi qui dinh</span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}